<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
  </head>
  <body>
    <h3>Create a new Listing:</h3>
    <form method="post" action="/listings/<%=listing._id %>?_method=PUT">
      <input
        type="text"
        name="listing[title]"
        value="<%=listing.title%>"
        placeholder="Enter title"
      />
      <br />
      <textarea
        name="listing[description]"
        placeholder="Enter description"
        cols="50"
        rows="5"
      >
<%=listing.description%></textarea
      >
      <br />
      <input
        type="text"
        name="listing[image]"
        value="<%=listing.image%>"
        placeholder="Enter image"
      />
      <br />
      <input
        type="number"
        name="listing[price]"
        value="<%=listing.price%>"
        placeholder="Enter price"
      />
      <br />
      <input
        type="text"
        name="listing[country]"
        value="<%=listing.country%>"
        placeholder="Enter country"
      />
      <br />
      <input
        type="text"
        name="listing[location]"
        value="<%=listing.location%>"
        placeholder="Enter location"
      />
      <br />
      <button>Add</button>
    </form>
  </body>
</html>
